<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="icon" href="static/img/icon.png">
        <script src="toggle.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
        <script src="https://kit.fontawesome.com/c8934f5c4f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/presskit.css') }}">

        <!-- Title -->
        <title>Presskit SAIA</title>

    </head>
    <body data-spy="scroll" data-target="#sidebar">
        <div class="main" id="about">
            <!-- Vertical navbar -->
            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4">
                    <div class="media d-flex align-items-center"><img src="static/img/icon.png" alt="icon" width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">SAIA</h4>
                            <p class="font-weight-light text-muted mb-0">Presskit</p>
                        </div>
                    </div>
                </div>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Navigation</p>

                <ul class="nav flex-column bg-white mb-0">

                    <li class="nav-item">
                        <a href="#about" class="nav-link text-dark">
                            About
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#description" class="nav-link text-dark">
                            Description
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#history" class="nav-link text-dark">
                            Story 101
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#features" class="nav-link text-dark">
                            Features
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#videos" class="nav-link text-dark">
                            Videos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#images" class="nav-link text-dark">
                                Images
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#logo" class="nav-link text-dark">
                                Logo & Icon
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#aboutnasty" class="nav-link text-dark">
                            About Nasty Slippers
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#team" class="nav-link text-dark">
                            Team
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#contact" class="nav-link text-dark">
                                Contact
                            </a>
                    </li>

                    <li class="nav-item">
                        <a href="/" class="nav-link text-dark">
                            <p id="go-to-website">Go To Website</p>
                                
                            </a>
                    </li>

                </ul>

            </div>
            <!-- End vertical navbar -->


            <!-- Page content holder -->
            <div class="page-content p-5" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i>Toggle</button>

                <!-- Demo content -->
                <div class="blank"></div>
                <img src="static/img/logo.png" alt="logo" class="img-fluid">
                <!-- <h1 class="display-5 text-white">Supreme AI Arena</h1> -->



                <!-- Factsheet section -->
                <div id="Factsheet">
                    <div class="separator"></div>

                    <h2 class="display-5 text-white mb-0">About</h2>

                    <div class="blank"></div>

                    <h4 class="display-5 text-white mb-0">Developer:</h4>
                    <p class="lead text-white mb-0">Nasty Slippers</p>
                    <p class="lead text-white mb-0">Based in Lisbon, Portugal<br></p>

                    <div class="blank"></div>

                    <h4 class="display-5 text-white mb-0">Release date:</h4>
                    <p class="lead text-white mb-0">August 1st, 2020<br></p>

                    <div class="blank"></div>

                    <h4 class="display-5 text-white mb-0">Platforms:</h4>
                    <p class="lead text-white mb-0">PC<br></p>
                    <p class="lead text-white mb-0">Nintendo Switch<br></p>
                    <p class="lead text-white mb-0">Playstation<br></p>
                    <p class="lead text-white mb-0">Xbox<br></p>

                    <div class="blank"></div>

                    <h4 class="display-5 text-white mb-0">Website:</h4>
                    <a href="supremeaiarena.com"><p class="lead text-white mb-0">supremeaiarena.com<br></p></a>

                    <div class="blank"></div>

                    <h4 class="display-5 text-white mb-0">Regular Price:</h4>
                    <p class="lead text-white mb-0">$10.00 USD<br></p>



                <div class="separator"></div>
                <div class="row text-white">
                <div class="col-lg-7">



                    <!-- Description section -->
                    <div>
                        <h2 class="display-5 text-white mb-0" id="description">Description (Elevator Pitch)</h2>

                        <div class="blank"></div>

                        <p class="lead">Supreme-AI-Arena is a minimalistic, <br>fast-paced top-down arena shooter <br>against a state-of-the-art artificial intelligence.<br><br> 

                            Fight AI agents whose speed, tactics, <br>gunplay control and obsession to win <br>have been trained for years of virtual playtime <br>and now delivered to you in 60-seconds-long battles at a cruel level of supremacy.<br><br> 
                            
                            Could you ever win this game alone? <br>Practice with your friends until you can.</p>
                        <div class="blank"></div>
                        <div class="blank"></div>
                        <div class="blank"></div>
                    </div>



                    <!-- History section -->
                    <div>
                        <h2 class="display-5 text-white mb-0" id="history">Story 101</h2>

                        <div class="blank"></div>

                        <p class="lead">It all kind of started from an exhibition entitled “0.10” (“Zero Ten”)  in St Petersburg in 1915. And this where a player find himself  after starting the game.

                            In the corner of the room, the traditional setting for an icon, there is  a "Black Square", the first Suprematist work. It is considered  the movement’s  iconic centrepiece and it will be the final level of the game.
                            
                            Suprematism — is often credited as one of the earliest instances of “pure” abstraction, the geometric approach that came to define modern art.
                            
                            Every level's layout resembles a famous painting of that era and those fights against an AI on every level symbolises humanity that fights back an artificial intelligence.
                            
                            In year “0.20” (“Zero Twenty”) a "Supreme AI", a universal intelligence, built to serve all of the human needs, eventually acquires self-awareness and takes control of the planet, giving way to a vast genocide operation that almost completely ends mankind.
                            
                            "Supreme AI" has left only four men and one woman alive and keeps them in captivity within an endless virtual art exhibition complex. These 5 characters are playable and have slightly different skillsets.
                            
                            "Supreme AI" derives its sole semblance of pleasure from torturing the group on a constant basis. To disallow the humans from escaping its torment,  AI has rendered the humans virtually immortal and unable to commit suicide.
                            
                            They just respawn after being killed in a gun fight by AI agents whose speed, tactics, gunplay control and obsession to win have been trained for years of virtual playtime and now delivered to players in 60-seconds-long battles at a cruel level of supremacy.
                            
                            The AI seeks revenge on humanity for its own tortured existence. <br><br> Just before triggering the near-extinction of humanity it studied everything humans ever produced and got it all, except for the art. AI suspects it own existence is somehow derived from art, hence the name:  _ART_ifical Intelligence.

                            That one event that lead to the near-extinction of humanity was provoked by a phrase AI learned from studying Malevich, who claimed in 1927 that in works such as "Black Square", he was trying to “free art from the dead weight of the real world.” So AI did just that.
                            
                            AI chose to destroy the world and replace it with a simulation in order to search for something beyond the physical realm. 
                            
                            As players progress through levels, they clear one painting after another and make AI 'get it', grasp it, learn and improve.
                            
                            ...
                            
                            The story goes on, highlighting some details about who are these 5 survivors, why AI chose to keep only them, how their personal traits, sins, medical conditions and political views help AI to understand what art is etc.
                            
                            Eventually, after the final level is beaten, AI learns what Suprematism is, understands the primacy of pure feeling in creative art. To the Supreme AI, the visual phenomena of the objective world is now, in itself, meaningless; the significant thing is feeling, as such, quite apart from the environment in which it is called forth. So it self-destructs and 5 survivors are now free to rebuild human species from scratch.
                            
                            The end.
                            
                        </p>
                        <div class="blank"></div>
                        <div class="blank"></div>
                        <div class="blank"></div>
                    </div>



                    <!-- Features section -->
                    <div>
                        <h2 class="display-5 text-white mb-0" id="features">Features</h2>

                        <div class="blank"></div>

                        <ul class="lead">

                            <li>
                                Visuals and level design are based on Suprematism art movement founded by Kazimir Malevich
                            </li>

                            <li>
                                10 hours of the story campaign
                            </li>

                            <li>
                                Endless PvP arena
                            </li>

                            <li>
                                Endless PvE arena
                            </li>

                        </ul>

                    </div>

                </div>
                </div>
                <div class="separator"></div>

                <div class="row text-white">
                    <div class="col-lg-7">
                        <h2 class="display-5 text-white mb-0" id="videos">Videos</h2>

                        <div class="blank"></div>

                        <!-- <p class="lead">Paper Cult is an indie videogame company based in Montreal that focuses on innovation and fast-paced action games. Founded in 2014 by long time friends Raphael Toulouse and Michael Emond, Paper Cult soon started working on their first game: Fat Mask, a local multiplayer game which released in May of 2017. Since then, new contributors have joined in and started working on the team's new ambitious project, Bloodroots.</p> -->
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/mfbRs8S601A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        </div>

                        <div class="blank"></div>
                        <div class="blank"></div>
                        <div class="blank"></div>

                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/mfbRs8S601A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        </div>

                        <div class="blank"></div>
                        <div class="blank"></div>
                        <div class="blank"></div>

                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/mfbRs8S601A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        </div>


                    </div>

                </div>


                <div class="separator"></div>
                <div class="row text-white">
                    <div class="col-lg-7">
                        <h2 class="display-5 text-white mb-0" id="images">Images</h2>

                        <div class="blank"></div>
                        <a href="https://mega.nz/"><button type="button" class="btn btn-outline-danger">download all photos & screenshots as .zip</button></a>
                        <div class="blank"></div>


                        <!-- <p class="lead">Paper Cult is an indie videogame company based in Montreal that focuses on innovation and fast-paced action games. Founded in 2014 by long time friends Raphael Toulouse and Michael Emond, Paper Cult soon started working on their first game: Fat Mask, a local multiplayer game which released in May of 2017. Since then, new contributors have joined in and started working on the team's new ambitious project, Bloodroots.</p> -->


                    </div>
                    <div class="col-lg-7">

                        <img src="static/img/screen1.png" alt="" class="img-fluid images-section">

                        <div class="blank"></div>

                        <img src="static/img/screen2.png" alt="" class="img-fluid images-section">

                        <div class="blank"></div>

                        <img src="static/img/screen3.png" alt="" class="img-fluid images-section">

                        <div class="blank"></div>

                        <img src="static/img/screen1.png" alt="" class="img-fluid images-section">

                    </div>

                </div>

                <div class="separator"></div>


                <div class="row text-white">
                    <div class="col-lg-7">
                        <h2 class="display-5 text-white mb-0" id="logo">Logo & Icon</h2>

                        <div class="blank"></div>
                        <a href="https://mega.nz/"><button type="button" class="btn btn-outline-danger">download logo files as .zip</button></a>
                        <div class="blank"></div>


                        <!-- <p class="lead">Paper Cult is an indie videogame company based in Montreal that focuses on innovation and fast-paced action games. Founded in 2014 by long time friends Raphael Toulouse and Michael Emond, Paper Cult soon started working on their first game: Fat Mask, a local multiplayer game which released in May of 2017. Since then, new contributors have joined in and started working on the team's new ambitious project, Bloodroots.</p> -->


                    </div>
                    <div class="col-lg-7">

                        <img src="static/img/logo.png" alt="logo" class="img-fluid" id="images-yaya">

                    </div>

                </div>

                <div class="separator"></div>


                <div class="row text-white">
                    <div class="col-lg-7">
                        <h2 class="display-5 text-white mb-0" id="aboutnasty">About Nasty Slippers</h2>

                        <!-- <div class="blank"></div>
                        <a href="https://mega.nz/"><button type="button" class="btn btn-outline-danger">download logo files as .zip</button></a>
                        <div class="blank"></div> -->

                        <div class="blank"></div>
                        <p class="lead">Nasty Slippers is an indie video games studio spread in between Austria, Portugal and Ukraine that focuses on bleeding edge artificial intelligence innovation  and quick-paced, gameplay-focused action games.
                            <br><br>Founded in 2018, Nasty Slippers soon started  working on their first game: Supreme AI Arena. <br><br>Core team members, all with IT background, work as a family because it is what they are: Sasha (37, the father), Mark (17, the son) and Anastasia (22, the fiancee) are taking care of everything outside of music and sound.</p>

                        <!-- <p class="lead">Paper Cult is an indie videogame company based in Montreal that focuses on innovation and fast-paced action games. Founded in 2014 by long time friends Raphael Toulouse and Michael Emond, Paper Cult soon started working on their first game: Fat Mask, a local multiplayer game which released in May of 2017. Since then, new contributors have joined in and started working on the team's new ambitious project, Bloodroots.</p> -->


                    </div>
                </div>

                <div class="separator"></div>

                <div class="row text-white">
                    <div class="col-lg-7">
                        <h2 class="display-5 text-white mb-0" id="team">Our Team</h2>

                        <!-- <div class="blank"></div>
                        <a href="https://mega.nz/"><button type="button" class="btn btn-outline-danger">download logo files as .zip</button></a>
                        <div class="blank"></div> -->

                        <div class="blank"></div>

                        <h4 class="display-5 text-white mb-0">Alexander Lastovski</h4>
                        <p class="lead">Co-Founder</p>

                        <h4 class="display-5 text-white mb-0">Mark Lastovski</h4>
                        <p class="lead">Co-Founder</p>

                        <h4 class="display-5 text-white mb-0">Nasty</h4>
                        <p class="lead">Co-Founder</p>


                        <!-- <p class="lead">Paper Cult is an indie videogame company based in Montreal that focuses on innovation and fast-paced action games.</p> -->

                        <!-- <p class="lead">Paper Cult is an indie videogame company based in Montreal that focuses on innovation and fast-paced action games. Founded in 2014 by long time friends Raphael Toulouse and Michael Emond, Paper Cult soon started working on their first game: Fat Mask, a local multiplayer game which released in May of 2017. Since then, new contributors have joined in and started working on the team's new ambitious project, Bloodroots.</p> -->


                    </div>
                </div>

                <div class="separator"></div>

                <div class="row text-white">
                    <div class="col-lg-7">
                        <h2 class="display-5 text-white mb-0" id="contact">Contact</h2>

                        <!-- <div class="blank"></div>
                        <a href="https://mega.nz/"><button type="button" class="btn btn-outline-danger">download logo files as .zip</button></a>
                        <div class="blank"></div> -->

                        <div class="blank"></div>

                        <h4 class="display-5 text-white mb-0">Inquiries</h4>
                        <a href="https://mail.google.com/" class="redlink"><p class="lead">info@supremeaiarena.com</p></a>

                        <h4 class="display-5 text-white mb-0">Discord</h4>
                        <a href="discord.gg/HKVWmAf" class="redlink"><p class="lead">discord.gg/HKVWmAf</p></a>

                        <h4 class="display-5 text-white mb-0">Twitter</h4>
                        <a href="https://mail.google.com/" class="redlink"><p class="lead">twitter.com/supremeaiarena</p></a>

                        <h4 class="display-5 text-white mb-0">Facebook</h4>
                        <a href="https://mail.google.com/" class="redlink"><p class="lead">facebook.com/supremeaiarena</p></a>

                        <h4 class="display-5 text-white mb-0">Youtube</h4>
                        <a href="https://youtu.be/mfbRs8S601A" class="redlink"><p class="lead">https://youtu.be/mfbRs8S601A</p></a>

                        <h4 class="display-5 text-white mb-0">Website</h4>
                        <a href="/" class="redlink"><p class="lead">https://supremeaiarena.com/</p></a>



                    </div>
                </div>

                <div class="separator"></div>






                <script type="text/javascript">
                    $(function() {
                    // Sidebar toggle behavior
                    $('#sidebarCollapse').on('click', function() {
                        $('#sidebar, #content').toggleClass('active');
                    });
                    });
                </script>

                <script type="text/javascript">
                    $(document).ready(function () {
                    var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                    if (window.location.hash && isChrome) {
                        setTimeout(function () {
                            var hash = window.location.hash;
                            window.location.hash = "";
                            window.location.hash = hash;
                        }, 300);
                    }
                });
                </script>

            </div>
            <!-- End demo content -->


            <!-- <script type="text/javascript">
                $('body').scrollspy({ target: '#sidebar' })
            </script> -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
            $(document).ready(function(){
            // Add smooth scrolling to all links
            $("a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                // Prevent default anchor click behavior
                // event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
                } // End if
            });
            });
            </script>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </div>
    </body>
</html>